@use "abstracts" as *;

@forward "globals";
@forward "compositions";
@forward "utilities";
@forward "blocks";

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.region {
    padding-block: var(--region-space, 3.3vmax);
}

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.site-header {

    &__inner > :first-child {
        flex: 1;
    }
}

// -----------------------------------------------------------------------------
// Branding
// -----------------------------------------------------------------------------

.brand {
    --brand-color: var(--primary-500);

    display: flex;
    align-items: center;
    gap: var(--space-xs);
    text-decoration: none;

    &__logo {
        height: 6ex;
        fill: none;
        stroke: var(--brand-color);
        stroke-width: 2px;
    }

    &__name {
        color: var(--brand-color);
        font-family: var(--ff-sans);
        font-size: var(--fs-step--1);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
    }
}

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.text--center {
    text-align: center;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

input, textarea, select {
    width: 100%;
    font-size: var(--fs-step--1);
    line-height: 24px;
    border: 1px solid var(--neutral-200);
    padding: var(--space-2xs) var(--space-xs);
    border-radius: var(--radius-s);
}

textarea {
    height: 208px;
    resize: none;
}