@use "colors" as *;

// -----------------------------------------------------------------------------
// Theme Settings
// -----------------------------------------------------------------------------

$active-theme: $light;
$enable-media-prefers-dark-mode: false;


// -----------------------------------------------------------------------------
// Site Navigation
// -----------------------------------------------------------------------------

$nav-link-padding: var(--space-2xs) var(--space-s);
$nav-link-border-radius: var(--radius-xs);

$nav-link-foreground: var(--neutral-500);
$nav-link-foreground-hover: var(--primary-900);
$nav-link-foreground-active: var(--neutral-50);

$nav-link-background: transparent;
$nav-link-background-hover: var(--primary-50);
$nav-link-background-active: var(--primary-900);

// Dropdown
$nav-dropdown-background: var(--color-background);
$nav-dropdown-box-shadow: var(--shadow-xs);


// -----------------------------------------------------------------------------
// Hamburger
// -----------------------------------------------------------------------------

$hamburger-bar-color: var(--neutral-800);
$hamburger-bar-width: 36px;
$hamburger-bar-height: 6px;
$hamburger-bar-gap: 4px;

$hamburger-background: transparent;
$hamburger-padding: var(--space-2xs);
$hamburger-animation-timing: 200ms ease-in-out;
$hamburger-border: none;
$hamburger-border-radius: var(--radius-xs);


// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

$button-font-size: var(--fs-400);
$button-font-weight: var(--fw-medium);

$button-foreground: var(--neutral-50);
$button-foreground-hover: var(--neutral-50);
$button-background: var(--neutral-500);
$button-background-hover: var(--neutral-600);

$button-padding: .75rem 1.5rem;

$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: var(--button-border-color, transparent);
$button-border-radius: var(--radius-m);