@use "../abstracts" as *;

.button {
    --_button-foreground: var(--button-foreground, #{$button-foreground});
    --_button-foreground-hover: var(--button-foreground-hover, #{$button-foreground-hover});
    --_button-background: var(--button-background, #{$button-background});
    --_button-background-hover: var(--button-background-hover, #{$button-background-hover});
    --_button-font-size: var(--button-font-size, #{$button-font-size});
    --_button-font-weight: var(--button-font-weight, #{$button-font-weight});
    --_button-padding: var(--button-padding, #{$button-padding});
    --_button-radius: var(--button-radius, #{$button-radius});

    all: unset;
    display: inline-flex;
    color: var(--_button-foreground);
    background: var(--_button-background);
    font-size: var(--_button-font-size);
    font-weight: var(--_button-font-weight);
    padding: var(--_button-padding);
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--_button-radius);
    align-items: center;
    gap: .5rem;
    transition: all 300ms ease-in-out;


    &:hover,
    &:focus-visible {
        --button-foreground: var(--_button-foreground-hover);
        --button-background: var(--_button-background-hover);
    }
}



// -----------------------------------------------------------------------------
// Link
// -----------------------------------------------------------------------------

.button--link {
    --_link-foreground: var(--link-foreground, inherit);
    --_link-foreground-hover: var(--link-foreground-hover, currentColor);
    
    all: unset;
    cursor: pointer;

    color: var(--_link-foreground);
    display: flex;
    align-items: center;
    width: fit-content;
    padding-block: var(--space-xs);
    text-decoration: none;
    
    &:is(:hover) {
        --link-foreground: var(--_link-foreground-hover);
    }
}

.button,
.button--link {
    &:has(ion-icon) {
        gap: .5rem;
        transition: gap 300ms ease-in-out;

        &:hover,
        &:focus-visible {
            gap: 1rem;
        }
    }
}