@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.site-nav {
    --_nav-width: var(--nav-width, 100%);
    --nav-list-gap: #{$site-nav-list-gap};

    width: var(--_nav-width);
    display: none;
    order: 3;

    .nav__list {
        width: var(--_nav-width);
        list-style: none;
    }

    .nav__item {
        position: relative;
    }

    .nav__link {
        --nav-link-font-family: #{$site-nav-link-font-family};
        --nav-link-font-size: #{$site-nav-link-font-size};
        --nav-link-font-weight: #{$site-nav-link-font-weight};
        --nav-link-line-height: #{$site-nav-link-line-height};
        --nav-link-padding: #{$site-nav-link-padding};
    }
}


// -----------------------------------------------------------------------------
// THEME STYLES (Kleuren, achtergrond, padding, etc.)
// -----------------------------------------------------------------------------

.site-nav {
    .nav__link {
        --_nav-link-foreground: var(--nav-link-foreground, #{$site-nav-link-foreground});
        --_nav-link-foreground-hover: var(--nav-link-foreground-hover, #{$site-nav-link-foreground-hover});
        --_nav-link-foreground-active: var(--nav-link-foreground-active, #{$site-nav-link-foreground-active});

        --_nav-link-background: var(--nav-link-background, #{$site-nav-link-background});
        --_nav-link-background-hover: var(--nav-link-background-hover, #{$site-nav-link-background-hover});
        --_nav-link-background-active: var(--nav-link-background-active, #{$site-nav-link-background-active});

        --nav-link-font-size: #{$site-nav-link-font-size};
        --nav-link-border-radius: #{$site-nav-link-border-radius};

        display: block;
        text-decoration: none;
        font-size: var(--nav-link-font-size);
        padding: var(--nav-link-padding);

        color: var(--_nav-link-foreground);
        background: var(--_nav-link-background);

        &:hover {
            --nav-link-foreground: var(--_nav-link-foreground-hover);
            --nav-link-background: var(--_nav-link-background-hover);
        }


        &[aria-current="page"] {
            --nav-link-foreground: var(--_nav-link-foreground-active);
            --nav-link-background: var(--_nav-link-background-active);
            font-weight: var(--fw-medium);
        }
    }
}


.site-header:has([aria-expanded="true"]) .site-nav {
    display: flex;
}


// -----------------------------------------------------------------------------
// Breakpoint
// -----------------------------------------------------------------------------

@media (width > 975px) {
    .site-nav {
        --nav-width: auto;

        display: flex;
        width: var(--_nav-width);

        .nav__list {
            display: flex;
            width: var(--_nav-width);
        }
    }
}