<section class="[ marquee ] [ bg-neutral-100 ] [ region ]">
    <div class="marquee__track">
    {{ for item of block_marquee.list }}
        <div class="logo"><img src="{{ item.image }}" alt="{{ item.name }}"></div>
    {{ /for }}
    </div>
</section>