.button {
    --_button-foreground: var(--button-foreground);
    --_button-background: var(--button-background);
    --_button-font-size: var(--button-font-size);
    --_button-font-weight: var(--button-font-weight);
    --_button-padding: var(--button-padding);

    display: inline-flex;
    color: var(--_button-foreground);
    background: var(--_button-background);
    font-size: var(--_button-font-size);
    font-weight: var(--_button-font-weight);
    padding: var(--_button-padding);
    cursor: pointer;
    text-decoration: none;
}



// -----------------------------------------------------------------------------
// Link
// -----------------------------------------------------------------------------

.button--link {
    --_link-foreground: var(--link-foreground, inherit);
    --_link-foreground-hover: var(--link-foreground-hover, currentColor);
    color: var(--_link-foreground);
    display: flex;
    align-items: center;
    width: fit-content;
    padding-block: var(--space-xs);
    gap: .5rem;
    text-decoration: none;
    transition: gap 300ms ease-in-out;

    &:hover {
        --link-foreground: var(--_link-foreground-hover);
        gap: 1rem;
    }
}