.site-nav {
    --_nav-width: var(--nav-width, 100%);

    display: none;
    width: var(--_nav-width);

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 1px;
        width: var(--_nav-width);

        li {
            position: relative;
        }
    }
}

.site-nav li a {
    display: block;
    text-decoration: none;
    color: var(--neutral-400);
    padding: var(--space-xs);
    border-radius: var(--radius-xs);

    &:is(:hover) {
        color: var(--neutral-50);
        background: var(--primary-300);
    }
}

.site-nav a[aria-current="page"],
.site-nav a.is-active {
    color: var(--neutral-50);
    background: var(--primary-900);
}



.site-nav.open {
    display: block;
}


@media (min-width: 975px) {
    .site-nav {
        --nav-width: auto;

        display: flex;
        width: var(--_nav-width);

        &__list {
            display: flex;
            width: var(--_nav-width);
        }

        &>li>a {
            padding-block: var(--space-s);
        }
    }
}