@use "../abstracts" as *;

.site-header {
    background: var(--site-header-background);
    padding-inline: var(--site-header-padding-inline);
    padding-block: var(--site-header-padding-block, #{$site-header-padding-block});

    &__inner {
        display: flex;
        align-items: center;
    }
}