---
layout: "layouts/base.vto"
---
<section class="[ about ] [ full-width-split-screen ] [ bg-gradient-blue-to-white ]">
    <img loading="lazy" src="{{ image.path }}" alt="{{ image.description }}">
    <div class="flow py-xl-2xl">
        <h1 class="mt-0 fs-step-3 color-primary-500">{{ title }}</h1>
        {{ content }}
    </div>
</section>