---
layout: "layouts/base.vto"
---
<section class="[ about ] [ full-width-split-screen ] []">
    <img loading="lazy" src="{{ image.path }}" alt="{{ image.description }}">
    <div class="flow">
        {{ content }}
    </div>
</section>