<!DOCTYPE html>
<html lang="en">
<head>
    {{ include "partials/shared/head.vto" }}
</head>
<body class="bg-gradient-blue-to-white">
    {{ include "partials/shared/site-header.vto" }}
    <main>
        {{ content }}
    </main>
    {{ include "partials/shared/site-footer.vto" }}
</body>
</html>