---
layout: "layouts/base.vto"
---
<section class="[ project ] [] [ region py-xl-2xl ]">
    <div class="wrapper">
        foto in here
    </div>
</section>
<section class="[ project ] [] [ region py-xl-2xl ]">
    <div class="wrapper wrapper--wide">
        {{ content }}
    </div>
</section>