---
layout: "layouts/base.vto"
---

<section class="[ service ] [ bg-gradient-blue-to-white ] [ region py-xl-2xl ]">
    <div class="wrapper wrapper--wide flow">
        <h1 class="color-primary-500 mt-0">{{ title }}</h1>
        {{ content }}
    </div>
</section>