// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

html {
  scroll-behavior: smooth;
}

html, body {
    height: 100dvh;
}


main {
    display: block;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

img, video, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

input, textarea, select, button {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: var(--space-s);
  border-bottom: var(--space-3xs);
}