@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// 
// -----------------------------------------------------------------------------

body {
    color: var(--neutral-600);
    font-family: var(--ff-sans);
    font-size: var(--fs-step-0);
    font-weight: var(--fw-regular);
}