@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

html {
    font-size: 100%;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-step-0);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    color: var(--neutral-500, inherit);
    background-color: var(--neutral-50);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {

    font-family: var(--ff-sans);
    font-weight: var(--fw-semibold);
    line-height: 1.2;
    color: inherit;

}

h1 {
    font-size: var(--fs-step-5);
}

h2 {
    font-size: var(--fs-step-4);
}

h3 {
    font-size: var(--fs-step-3);
}

h4 {
    font-size: var(--fs-step-2);
}

h5 {
    font-size: var(--fs-step-1);
}

h6 {
    font-size: var(--fs-step-0);
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

// p {}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

a {
    color: var(--primary-500);
    text-decoration: var(--link-text-decoration);
    //transition: var();

    &:is(:hover, :active) {
        color: var(--neutral-900);
        text-decoration: var(--link-text-decoration-hover);
    }
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

ul, ol {
    margin: 0 0 var(--space-m) var(--space-l);
    padding: 0;

    &[role="list"],
    &[role="navigation"],
    &[class] {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

blockquote {
    margin: 0 0 var(--space-m);
    padding-left: var(--space-m);
    border-left: 4px solid var(--primary-500);
    font-style: italic;
}

code {
    font-family: var(--ff-mono);
    background-color: var(--neutral-400);
    padding: 0.125rem 0.25rem;
    border-radius: var(--radius-xs);
}