<footer class="[ site-footer ] [] [ region ]">
    <div class="wrapper flex-group flex-group--between">
        <span>&copy; Copyright 2025 {{ site.name }} - kvk {{ site.kvk_nummer }}</span>
        <div class="cluster">
            <a href="/algemene-voorwaarden">Algemene voorwaarden</a>
        </div>
    </div>
</footer>