<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title || metas.title }} - {{ metas.site }}</title>

<link rel="preload" href="/css/styles.css" as="style">
<link rel="stylesheet" href="/css/styles.css" />

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>