@use "colors" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$active-theme: $light;


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$site-header-padding-block: var(--space-3xs);

// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

$site-nav-list-gap: 1px;

$site-nav-link-foreground: var(--primary-900);
$site-nav-link-foreground-hover: var(--primary-500);
$site-nav-link-foreground-active: var(--primary-800);

$site-nav-link-background: transparent;
$site-nav-link-background-hover: var(--primary-100);
$site-nav-link-background-active: var(--primary-200);

$site-nav-link-font-family: inherit;
$site-nav-link-font-size: var(--fs-step-0);
$site-nav-link-font-weight: inherit;
$site-nav-link-line-height: 1.1;

$site-nav-link-padding: var(--space-s);
$site-nav-link-padding-mobile: var(--space-m);
$site-nav-link-border-radius: none;

// -----------------------------------------------------------------------------
// Hamburger
// -----------------------------------------------------------------------------

$hamburger-background: transparent;
$hamburger-padding: var(--space-xs);
$hamburger-animation-timing: 200ms ease-in-out;
$hamburger-border: none;
$hamburger-border-radius: .125rem;

$hamburger-bar-color: var(--primary-800);
$hamburger-bar-width: 36px;
$hamburger-bar-height: 6px;
$hamburger-bar-gap: 4px;


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$button-foreground: var(--neutral-50);
$button-foreground-hover: var(--neutral-50);


$button-background: var(--primary-400);
$button-background-hover: var(--primary-800);

$button-font-size: var(--fs-step-0);
$button-font-weight: var(--fw-medium);

$button-padding: var(--space-xs) var(--space-s);
$button-radius: var(--radius-s);