@use "colors" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$active-theme: $light;


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$logo-size: 280px;            // hoogte van elk logo-venster
$logo-gap: 24px;            // tussenruimte tussen logo-items
$logo-aspect: 1/1;          // gewenste aspect-ratio (bv. 1/1 voor vierkant, 4/3, 16/9 etc.)
$speed: 20s;                // duur van 1 volledige verschuiving (verander om sneller/langzamer)



// -----------------------------------------------------------------------------
// Hamburger
// -----------------------------------------------------------------------------

$hamburger-background: var(--primary-600);
$hamburger-padding: var(--space-2xs);
$hamburger-animation-timing: 200ms ease-in-out;
$hamburger-border: none;
$hamburger-border-radius: .125rem;

$hamburger-bar-color: var(--neutral-50);
$hamburger-bar-width: 36px;
$hamburger-bar-height: 6px;
$hamburger-bar-gap: 4px;