// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$-ff-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$-ff-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$-ff-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-families: (
    "sans": $-ff-sans,
    "serif": $-ff-serif,
    "mono": $-ff-mono,
);


// -----------------------------------------------------------------------------
// 
// -----------------------------------------------------------------------------

$font-sizes: (
    "step--2": clamp(0.64rem, 0.6203rem + 0.0986vw, 0.7035rem),
    "step--1": clamp(0.8rem, 0.7572rem + 0.214vw, 0.9377rem),
    "step-0": clamp(1rem, 0.9223rem + 0.3883vw, 1.25rem),
    "step-1": clamp(1.25rem, 1.1207rem + 0.6466vw, 1.6663rem),
    "step-2": clamp(1.5625rem, 1.3579rem + 1.0231vw, 2.2211rem),
    "step-3": clamp(1.9531rem, 1.6401rem + 1.5652vw, 2.9607rem),
    "step-4": clamp(2.4414rem, 1.9738rem + 2.3383vw, 3.9467rem),
    "step-5": clamp(3.0518rem, 2.3654rem + 3.4317vw, 5.2609rem),
);


// -----------------------------------------------------------------------------
// 
// -----------------------------------------------------------------------------

$font-weights: (
    "thin": 100,
    "extralight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900,
);