@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Site header
// -----------------------------------------------------------------------------

.site-header {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--_site-header-gap, 1rem);
    }
}