---
layout: "layouts/base.vto"
---

<section class="[ about ] [] [ full-width-split-screen ]">
    <img src="{{ image.path }}" alt="{{ image.desc }}">
    <div class="flow">
        <h1 class="mt-0 color-primary-800">{{ heading }}</h1>
        {{ content }}
    </div>
</section>