---
layout: "layouts/base.vto"
---

<section class="[ contact ] [] [ region ]">
    <div class="wrapper">
        <div class="switcher">
            <div class="content">
                {{ content }}
            </div>
            <div class="form">
                contact form in here
            </div>
        </div>
    </div>
</section>