---
layout: "layouts/base.vto"
---

<section class="[ portfolio ] [] [ region ]">
    <div class="wrapper flow">
        {{ content }}
        <hr>
        <ul class="grid" data-layout="thirds" role="list">
            <li>
                Mijn project
            </li>
        </ul>
    </div>
</section>