.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(min(var(--grid-min-item-size, 16rem), 100%), 1fr));
    gap: var(--grid-gap, 1rem);
}


// -----------------------------------------------------------------------------
// Exceptions
// -----------------------------------------------------------------------------

.grid {
    &[data-layout="halves"] {
        --grid-placement: auto-fit;
        --grid-min-item-size: clamp(16em, 50dvw, 32rem);
    }

    &[data-layout="thirds"] {
        --grid-placement: auto-fit;
        --grid-min-item-size: clamp(16em, 33%, 26rem);
    }
}