// Switcher - A layout that allows you to lay **2** items next to each other
// until there is not enough horizontal space to allow that.

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--switcher-gap, var(--space-l-xl));
    align-items: var(--switcher-vertical-alignment, flex-start);


    & > * {
        flex-grow: 1;
        flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999);
    }

    & > :nth-child(n + 3) {
        flex-basis: 100%;
    }
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------