{{ define "main" }}
<section class="[ contact-info ] [ bg-neutral-50 ] [ region ]">
    <div class="wrapper">
        <div class="flex-group flex-group--between ai--center">
            <div class="flex-group ai--center">
                <span class="circle circle--outline">
                    <ion-icon size="large" name="mail-outline"></ion-icon>
                </span>
                <span class="fs-step--1">hallo@vrventilatietechniek.nl</span>
            </div>
            <div class="flex-group ai--center">
                <span class="circle circle--outline">
                    <ion-icon size="large" name="call-outline"></ion-icon>
                </span>
                <span class="fs-step--1"><a href="tel:+316 408 533 42">+316 408 533 42</a></span>
            </div>
            <div class="flex-group ai--center">
                <span class="circle circle--outline">
                    <ion-icon size="large" name="time-outline"></ion-icon>
                </span>
                <span class="fs-step--1">
                    Maandag - Vrijdag: 08.00 - 17.00 <br>
                    Zaterdag: 09.00 - 12.00
                </span>
            </div>
        </div>
    </div>
</section>
<section class="[ contact-form ] [] [ region ]">
    <div class="wrapper">
    
    <form class="flow" name="contact" method="POST" netlify data-netlify="true" action="/bedankt/">
        <div class="switcher">
            <div>
                <div class="field-group">
                    <label for="naam" class="fs-step--1 fw-medium">Naam</label>
                    <input id="naam" type="text" name="naam" placeholder="Uw naam" />
                </div>
                <div class="field-group mt-3xs">
                    <label for="email" class="fs-step--1 fw-medium">E-mail</label>
                    <input id="email" type="email" name="email" placeholder="Uw e-mailadres" />
                </div>
                <div class="field-group mt-3xs">
                    <label for="tel" class="fs-step--1 fw-medium">Telefoon nr.</label>
                    <input id="tel" type="tel" name="telefoon" placeholder="Telefoonnummer" :required="terugbel" />
                </div>
            </div>
            <div>
                <div class="field-group">
                    <label for="bericht" class="fs-step--1 fw-medium">Uw bericht</label>
                    <textarea id="bericht" name="bericht" rows="4" placeholder="Uw bericht"></textarea>
                </div>
            </div>
        </div>
        <div class="flex-group flex-group--between">
            <p class="fs-step--1">Wij nemen zo snel mogelijk contact met u op</p>
            <button type="submit" class="button" data-button-variant="primary">Verzend</button>
        </div>
    </form>

    </div>
</section>
{{ end }}